* text=auto eol=lf

*.bsl text eol=crlf working-tree-encoding=UTF-8
*.os text eol=crlf working-tree-encoding=UTF-8
*.xml text eol=lf working-tree-encoding=UTF-8
*.mdo text eol=lf working-tree-encoding=UTF-8
*.json text eol=lf
*.jsonc text eol=lf
*.md text eol=lf
*.ps1 text eol=crlf

*.dt binary
*.cf binary
*.cfe binary
*.epf binary
*.erf binary
*.mxl binary
